span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.colorClass span {
    background: green;
}

.lengthClass span:after {
    content: 'length';
    margin-left: 10px;
}